body{
}

.bottom-space{
	margin-bottom: 1em;
}

.top-space{
	margin-top: 1em;
}

#page_wrapper{
	margin: 1em;
}

.ui-panel {
    border: none !important;
    box-shadow: none !important;
}

.fontFamily {
    font-family: 'Trebuchet MS', sans-serif;
}

.footer {
    margin: 1em 0 2em 0;  
    border-top: 3px solid lightgray;
}

.footer-items {
    display: flex;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
}

.footer-left {
    flex: 1 1 50%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-right {
    flex: 1 1 50%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.footer-right a {
    color: inherit;
    text-decoration: none;
}

.footer-right .privacy-header {
    font-size: 1.2em;
    font-weight: bold;
}

.header {
    margin: 1em 0 2em 0;  
    border-bottom: 3px solid lightgray; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.header-icons{
    margin:0 1em 0 1em;
}

.header-icons-styles{
    font-size: 1em; 
    color: black;
}

.header-menu{
    display: flex;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
}

.header-logo{
    flex: 1 1 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-text-decoration{
    text-decoration: none;
}

.header-logo-size{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.header-submenu{
    flex: 1 1 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-button{
    background-color: transparent !important;
    width: 400px !important;
    margin: auto !important;
}

.width-100{
    width: 100%;
}

.edit-body-style{
    background-color: #eee;
    margin: 0.5em;
}

.edit-save-button{
    margin-right: 1em;
}

.banner-text-top{
    font-size: 4em;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-text-bottom{
    font-size: 4em;
    color: white;
    margin-bottom: 30px;
}

.banner-image{
    background-size: cover;
    background-position: center;
    height: 700px; display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-button{
    background-color: transparent !important;
    background-color: #007bff !important;
    color: white !important;
    border: none !important;
    font-size: 24px !important; 
    padding: 20px 40px !important;
}

.admin-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em
}

.index-menu-item{
    margin: 5em 20em 5em 20em;
}

.index-menu-item-description{
    margin:0em 0 1em 0 ;
    color: gray
}

.index-menu-item-title{
    font-size: 2em;
    font-weight: bold;
    color:black
}

.index-menu-item-button{
    background-color: transparent !important;
    color: black !important; 
    border: 3px solid black !important;
    padding: 0 2em 0 2em !important;
}

.index-menu-item-subtitle{
    font-size: 2em;
    font-weight: bold;
    color:black
}

.index-menu-item-title-ofert{
    font-size: 2.5em;
    font-weight: bold;
    color:black
}

.index-menu-item-ofert{
    margin: 1em 20em 2em 20em;
}

.index-menu-item-subtitle-ofert{
    font-size: 1.5em;
    font-weight: bold;
    color:black
}

.banner-about-us {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-us-container, .studio-container {
    display: flex;
    width: 100%;
    margin-top: 5em
}

.about-us-left, .about-us-right {
    width: 50%;
    padding: 0.5em;
    box-sizing: border-box;
}

.about-us-right {
    text-align: center; /* Wyśrodkowanie tekstu poziomo */
    display: flex; /* Użycie Flexbox do wyśrodkowania w pionie */
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    justify-content: center; /* Wyśrodkowanie w pionie */
    align-items: center; /* Wyśrodkowanie w poziomie */
    height: 100%; /* Zapewnia, że wyśrodkowanie działa w całym dostępnym obszarze */
    font-size: 1.2em;
}

.about-us-left {
    padding: 0.5em; /* Dodaje 0.5em luzu wokół zdjęcia */
    box-sizing: border-box; /* Zapewnia, że padding jest uwzględniany w szerokości elementu */
}

.about-us-left img {
    width: 100%; /* Ustala, że obraz będzie zajmował 100% dostępnej szerokości */
    height: auto; /* Zapewnia proporcjonalne dostosowanie wysokości */
    padding: 0.5em; /* Dodatkowy luz wokół samego zdjęcia */
    box-sizing: border-box; /* Zapewnia, że padding będzie wliczany do rozmiaru obrazu */
}

.studio-description, .pilates-description {
    margin: 5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.studio-left, .studio-right {
    width: 50%;
    padding: 0.5em;
    box-sizing: border-box;
}

.studio-left img, .studio-right img {
    width: 100%; /* Ustala, że obraz będzie zajmował 100% dostępnej szerokości */
    height: auto; /* Zapewnia proporcjonalne dostosowanie wysokości */
    padding: 0.5em; /* Dodatkowy luz wokół samego zdjęcia */
    box-sizing: border-box; /* Zapewnia, że padding będzie wliczany do rozmiaru obrazu */
}

.studio-left p, .studio-right p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column; /* Ustawia elementy pod sobą */
    justify-content: center; /* Wyśrodkowanie w pionie */
    align-items: center; /* Wyśrodkowanie w poziomie */
    text-align: center; /* Tekst na środku */
    height: 100vh; /* Wysokość na całą dostępną przestrzeń */
    padding: 20px; /* Dodatkowy odstęp wewnętrzny */
    box-sizing: border-box; /* Uwzględnia padding w obliczeniach */
}
